.carouselFull {
    min-height: 90%;
    //max-height: 900px;
    //background-image:url("../../media/eastman.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h2,
    h3 {
        color: $dark;
    }
    hr {
        @include hr($dark);
    }
    .infoclear {
        background-color: rgba(0, 0, 0, 0);
        color: $light;
    }
    .carousel-inner {
        min-height: 600px;
    }
}

.glossarySection,
.timelineSection,
.analysisSection {
    .slideInfo {
        background-color: rgba(0, 0, 0, 0);
        width: 60%;
        margin: auto;
        min-height: 170px;
    }
}

.glossaryLink {
    max-height: 32px;
    overflow: hidden;
}

.carouselSection {
    background-color: $purple-full;
    .slideInfo {
        width: 100%;
        min-height: 100%;
        -webkit-animation: fadein 2s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s;
        /* Firefox < 16 */
        -ms-animation: fadein 2s;
        /* Internet Explorer */
        -o-animation: fadein 2s;
        /* Opera < 12.1 */
        animation: fadein 2s;
        background-color: $purple-overlay;
        //background-blend-mode: multiply;
        color: #ffffff;
        z-index: 2;
        position: relative;
        iframe {
            width: 100%;
            margin: auto;
        }
        h3 {
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Neutra Text-Book Alt';
            .name {
                font-family: 'Neutra Text-Book Alt';
                font-family: 'Neutra Text-Book Alt';
                font-weight: bold;
            }
        }
        p {
            color: #ffffff;
        }
        .slideContent {
            margin: auto;
            max-width: 60%;
            overflow: hidden;
            padding-top: 15%;
        }
    }
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    top: 50% !important;
}

.projectSection .close {
    position: absolute;
    top: 100;
    left: 100;
    z-index: 4;
    color: #eee;
}

.projectSection .close:hover {
    color: #fff
}

.carouselSection {
    position: relative;
}

.layer {}

.fullbg {
    min-height: 90%;
    //max-height: 900px;
    position: relative;
    //background-color: rgba(50,0,75, 0.6);
    //background-blend-mode: multiply;
}

.moveDown {
    margin-left: 45%;
    color: #fff;
    padding-top: 30p;
    background-color: transparent;
}