section {
    position: relative;
    display: inline-block;
}

.glossarySection,
.timelineSection,
.analysisSection {
    .slideInfo {
        background-color: rgba(0, 0, 0, 0);
        width: 60%;
        margin: auto;
        min-height: 150px;
    }
    .carousel-inner {
        position: relative;
        min-height: 100px;
    }
}

.glossaryLink {
    max-height: 40px;
    font-size: 1.25em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carouselSection {
    background-color: $purple-full;
    .slideInfo {
        width: 100%;
        height: 100%;
        min-height: 800px;
        background-color: $purple-overlay;
        //background-blend-mode: multiply;
        color: #ffffff;
        // z-index: 2;
        position: relative;
        iframe {
            width: 100%;
            margin: auto;
        }
        h3 {
            font-size: 42px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Neutra Text-Book Alt';
            .name {
                font-family: 'Neutra Text-Book Alt';
                font-family: 'Neutra Text-Book Alt';
                font-weight: bold;
            }
        }
        p {
            color: #ffffff;
        }
        .slideContent {
            margin: auto;
            max-width: 60%;
            overflow: hidden;
            padding-top: 15%;
        }
    }
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    top: 50% !important;
    // z-index: 3 !important;
}

.projectSection .close {
    position: absolute;
    top: 100;
    left: 100;
    z-index: 4;
    color: #fff;
    font-size: 40px;
    opacity: .6;
}

.projectSection .close:hover {
    color: #fff
}

.carouselSection {
    position: relative;
}

.layer {}

.fullbg {
    min-height: 90%;
    //max-height: 900px;
    position: relative;
    @media (min-width: 1026px) {
        background-attachment: fixed !important;
        //background-size: 100% auto !important;
        // background: url("../media/JoAnne_Planetary.png") no-repeat center bottom fixed !important;
    }
    // background-size: 100% !important;
    //background-size: 100% auto !important;
    //background-color: rgba(50,0,75, 0.6);
    //background-blend-mode: multiply;
}

.moveDown {
    margin-left: 45%;
    color: #fff;
    padding-top: 30p;
    background-color: transparent;
}

#sources .resource {
    text-align: left;
}