.termHolder {
    margin: auto;
    max-width: 100%;
    padding: 5%;
}

#glossarySlide {
    h3 {
        color: $purple-full;
        font-family: 'Neutra Display Titling';
    }
    .glyphicon {
        color: $purple-full;
    }
}

#timelineSlide,
{
    h3 {
        color: $purple-full;
        font-family: 'Neutra Display Titling';
    }
    .glyphicon {
        color: $purple-full;
    }
}

.refreshIframe:hover {
    background-color: green;
}

.refreshIframe {
    margin-left: 50%;
}

iframe {
    width: 60%;
    margin-left: 30%;
}

li {
    list-style: none;
}

#intro h4 {
    text-align: center;
}

#footer {
    p {
        color: #fff;
    }
}