.termHolder {
    margin: auto;
    max-width: 100%;
    padding: 5%;
}

#glossarySlide {
    h3 {
        color: $purple-full;
        font-family: 'Neutra Display Titling';
    }
    .glyphicon {
        color: $purple-full;
    }
}

#timelineSlide,
{
    h3 {
        color: $purple-full;
        font-family: 'Neutra Display Titling';
    }
    .glyphicon {
        color: $purple-full;
    }
}

.refreshIframe:hover {
    background-color: green;
}

.refreshIframe {
    margin-left: 50%;
}

iframe {
    width: 60%;
    margin-left: 30%;
}

li {
    list-style: none;
}

#intro {
    h4 {
        text-align: center;
    }
    padding-top:0px;
}

#footer {
    p {
        color: #fff;
    }
    .footerNav {
        a {
            color: #fff;
        }
    }
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 899px) {
    .navbar {
        text-align: center;
        height: 100px;
    }
}