.navbar {
    margin-bottom: 0;
    background-color: $light;
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
    overflow: hidden;
}

.nav-text {
    color: #fff;
    .active {
        text-decoration: underline;
        color: #fff;
    }
}

.navbar,
.navbar-nav {
    color: #fff;
    background-color: $purple-full;
}

#nav {
    border-bottom: 1px solid #fff;
}

.brand {
    font-family: 'Neutra Display Titling';
    color: #fff;
    a {
        color: #fff;
    }
}