
@font-face {
	font-family: 'Neutra Display Tilting';
    src: url('../fonts/NeutraDisplayTilting.ttf');
}
@font-face {
	font-family: 'Neutra Text-Book Alt';
    src: url('../fonts/NeutraText-BookAlt.ttf');
}
@font-face {
	font-family: 'Nunito-Bold';
    src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
	font-family: 'Nunito-Light';
    src: url('../fonts/Nunito-Light.ttf');
}
@font-face {
	font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.ttf');
}