<section class="galleryholder projectSection inverted" id="analysis">
    <h2 class="standalone">Impressions</h2>
    <hr>
    <div class="row">
        {{#each index.analysis}}
        <p class=col-md-12>{{{hook}}}</p>

        {{/each}}


    </div>
</section>