<section class="reverseColor" id="footer">

    <div class="col-md-3">
        <h2 class="alt">Contact</h2>
        <h4>Dr. Tamar Carroll</h4>
        <h4>Rochester Institute of Technology</h4>
        <h4>tamar.carroll@rit.edu</h4>
        <h4><a href="http://www.tamarcarroll.com" target="_blank">TamarCarroll.com</a></h4>


    </div>
    <div class="col-md-3 footerNav">

        <h4 class="firstItem"><a href="#people" class="bottomLink">PEOPLE</a></h4>
        <h4><a href="#topics" class="bottomLink">TOPICS</a></h4>
        <h4><a href="#timeline" class="bottomLink">TIMELINE</a></h4>
        <h4><a href="#analysis" class="bottomLink">IMPRESSIONS</a></h4>
        <h4><a href="#resources" class="bottomLink">RESOURCES</a></h4>
        <h4><a href="#glossary" class="bottomLink">GLOSSARY</a></h4>
        <h4><a href="#team" class="bottomLink">THE TEAM</a></h4>

    </div>
    <div class="col-md-3">
        <img src="media/TRS_Logo_Footer.png" style="max-width:300px">

    </div>
    <div class="col-md-3">
        <img class="firstItem" src="media/DHSS_Logo_Footer.png">
        <img src="media/RIT_Logo_Footer.png" style="max-width:200px">
    </div>

</section>