<section class="reverseColor" id="footer">
    <div class="col-md-3">
        <h2>Credits</h2>
        <p>Copyright Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    <div class="col-md-3">
        <h2>Contact</h2>
        <h4>Dr. Tamar Carroll</h4>
        <h4>Rochester Institute of Technology</h4>
        <h4><a href="http://www.tamarcarroll.com" target="_blank">TamarCarroll.com</a></h4>
        <h4>585-123-4567</h4>

    </div>
    <div class="col-md-3">
        <img src="media/dhss_logo.png">

    </div>
</section>