<nav id="nav" class="navbar navbar-fixed-top  " role="navigation" data-target="navbar">
    <div class="container-fluid">
        <div class="navbar-header">

            <a href="#intro" class="navbar-brand brand col-sm-12 col-md-6" id="brand" title="Transformation">Trans <span class="alt">Rochester</span> Speaks</a>
        </div>
        <!-- all navbar content built to work for toggling -->
        <div class="collapse navbar-collapse navbar-right col-sm-12" id="navHeaderCollapse">
            <ul class="nav  navbar-nav">
                <li><a href="#people" class="select nav-text">People</a></li>
                <li><a href="#topics" class="select nav-text">Topics</a></li>
                <li><a href="#timeline" class="select nav-text">Timeline</a></li>
                <li><a href="#analysis" class="select nav-text">Impressions</a></li>
                <li><a href="#sources" class="select nav-text">Resources</a></li>
                <li><a href="#glossary" class="select nav-text">Glossary</a></li>
                <li><a href="#team" class="select nav-text">The Team</a></li>
            </ul>
        </div>
    </div>
</nav>