<nav id="nav" class="navbar navbar-fixed-top  " role="navigation" data-target="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- creating button for mobile menu (navbar collapse) -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
                <!-- sr-only hides content to all devices besides screen readers (following accessibility best practices)-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- nav bar logo far left -->
            <a href="#intro" class="navbar-brand brand" id="brand" title="Transformation"><img src="media/logo-temp.png" width="40" height="40" /></a>
        </div>
        <!-- all navbar content built to work for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="navHeaderCollapse">
            <ul class="nav  navbar-nav">
                <li><a href="#people" class="select nav-text">People</a></li>
                <li><a href="#topics" class="select nav-text">Topics</a></li>
                <li><a href="#timeline" class="select nav-text">Timeline</a></li>
                <li><a href="#analysis" class="select nav-text">Impressions</a></li>
                <li><a href="#sources" class="select nav-text">Resources</a></li>
                <li><a href="#glossary" class="select nav-text">Glossary</a></li>
                <li><a href="#team" class="select nav-text">The Team</a></li>
            </ul>
        </div>
    </div>
</nav>