<section class="galleryholder projectSection forwardColor" id="people">
    <h2 class="standalone">People</h2>
    <hr class="white">

    <div>
        {{#each persons.people}}
        <div class="gitem ritem col-md-3 col-xs-6" id={{id}}><img src="{{tab}}">
            <h2>{{name}}</h2></div>
        {{/each}}

    </div>
</section>