<section class="galleryholder projectSection" id="sources">
    <h2 class="standalone">Sources</h2>
    <hr>
    <div class="row">
        {{#each index.people}}
        <div class="gitem col-md-3 col-xs-6"><img src="{{tab}}">
            <h2>{{name}}</h2></div>
        {{/each}}

    </div>
</section>