<section class="galleryholder projectSection" id="team">
    <h2 class="standalone">The Team</h2>
    <hr>
    <div class="row">
        {{#each index.team}}
        <div class="gitem col-md-3 col-xs-6"><img src="{{tab}}">
            <span>
            <h2>{{name}}</h2>
            <h3>{{title}}</h3>
            <p>{{website}}</p>
                </span>
        </div>
        {{/each}}

    </div>
</section>