<section class="galleryholder projectSection" id="timeline">
    <h2 class="standalone">Timeline</h2>
    <hr>
    <div class="row">
        <p>Timeline body intro text or whatever goes here. Timeline body intro text or whatever goes here. Timeline body intro text or whatever goes here. Timeline body intro text or whatever goes here.</p>
    </div>
</section>