<section class="galleryholder projectSection reverseColor" id="topics">
    <h2 class="standalone">Topics</h2>
    <hr class="white">
    <div>
        {{#each topicsList.topics}}
        <div class="gitem col-md-4 col-xs-6 " id={{id}}><img src="{{tab}}">
            <h2>{{topic}}</h2></div>
        {{/each}}

    </div>
</section>